<!DOCTYPE html>
<html ng-app="toDoApp">
  <head>
    <title>To Do Angular</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css"
  </head>
  <body ng-controller="MainCtrl">
    <div class="container">
      <form ng-submit="addTask(newTask)">
        <input ng-model="newTask"/>
        <button type="submit">Add Task</button>
      </form>
      
      {{masterList}}
    </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>    
    <script src="../scripts/main.js"></script>
  </body>
</html>