<!DOCTYPE html>
<html ng-app="toDoApp">
  <head>
    <title>To Do Angular</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/main.css"
  </head>
  <body ng-controller="MainCtrl">
    <form>
      <input ng-model="newTask"/>
      {{ newTask }}
    </form>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>    
    <script src="../scripts/main.js"></script>
  </body>
</html>